* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: #bbb;
}

.keys {
    display: flex;
    width: 70vw;
    height: 60vh;
    margin: 20vh auto;
}

.white-keys kbd {
    font-size: 44px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    border: 4px solid grey;
    flex-grow: 1;
    line-height: 90vh;
}
.black-keys {
    position: absolute;
    top: 0;
    left: 50vw;
    transform: translateX(-50%);
}
.black-keys kbd {
    line-height: 40vh;
    font-size: 30px;
    flex-grow: 0;
    flex-basis: 5vw;
    margin: 0 0 30vh 3.5vw;
    color: #fff;
    background-color: #000;
    display: inline-block;
    text-align: center;
    border: 4px solid grey;
    flex-grow: 1;
}
.black-keys kbd:nth-child(1) {
    margin-left: 6.5vw;
}

.black-keys kbd:nth-child(3) {
margin-left: 14vw;
}

.black-keys kbd:last-child {
    margin-right: 6.5vw;
}

.black-keys kbd.active {
    background-color: #444;
}

.white-keys kbd.active {
    background-color: #ddd;
}